{% extends "home.html" %}
{% block content %}
<div id="arrowNav-wrapper" class="">
	<div id="arrow-wrapper" class="">
		<p class="glyphicon glyphicon-chevron-up arrow"></p>
	</div>
	<div class="toolbar">
		<h1>Astrological Projection Page</h1>
		<div class="filters">
				<span style="margin-right:10px;margin-top:10px;text-align:left;display:inline">Start</span>
				<select id="startCity" name="startCity" onchange = "">
						<option value="">Los Angeles</option>
						<option value="">Portland</option>
				</select>
				<span style="margin-right:10px;margin-top:10px;text-align:left;display:inline">End</span>
				<select style="margin-right:10px;" id="endCity" name="endCity" onchange = "">
						<option value="">Los Angeles</option>
						<option value="">Portland</option>						
				</select>
				<input type="button" id="simStart" name="simStart" value = "Start Simulation" style=" margin : 0.5em auto;"/>
		</div>
	</div>
</div>		
		
		
<IFRAME id = "skymap" SRC="http://server1.sky-map.org/skywindow?object=M100&zoom=8&img_source=SDSS">
</IFRAME>
<div id="map"></div>

<script>
const arrowNavWrapper = document.getElementById('arrowNav-wrapper')
const arrowWrap = document.getElementById('arrow-wrapper')
	arrowWrap.addEventListener("click", () => {
	arrowNavWrapper.classList.toggle("closed");
	arrowWrap.classList.toggle("closed");
})
function initMap() {
	var mapLat; var mapLon; var mapZoom;
	mapLat = 34.217643; mapLon = -118.488386; mapZoom = 13;
	
	theMap = new google.maps.Map(document.getElementById('map'), {
	    zoom: 4,
	    center: {lat: 49.496675, lng: -102.65625}
	  });

	 var ctaLayer = new google.maps.KmlLayer({
		    url: 'https://googlearchive.github.io/js-v2-samples/ggeoxml/cta.kml',
		    map: theMap
		  });
}
</script>
{% endblock content %}
