<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/base.min.css' %}">
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<title>Python Django Hello World</title>
</head>
<body>
{{Message}}
<nav id = "menuTable" class = "nav">
	<div class = 'tab-content'>
		<div id = 'menu' class= 'tab-pane fade in active'>
			<ul class = 'menu'>
				<li><a href = '/home'>Home Page</a></li>
				<li><a href = '/astroProjection'>Astro Projection</a></li>
			</ul>
		</div>
	</div>
</nav>

	<div id="content" class="content">
		<div class="container-fluid no-gutters">
		<script
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADNxH3RD1Qet7NWRRvQe1z1aZMBC0bSgk&callback=initMap&v=weekly"
	      async defer
	    ></script>
			<!-- This is where block content was -->
			{% block content %} {% endblock content %}
		</div>
	</div>

</body>
</html>